---
const { name, emoji, uuid, draggable } = Astro.props;
---

<div
  class="bg-gray-800 border border-gray-600 px-5 py-3 rounded-lg cursor-grab select-none text-xl flex items-center gap-2"
  data-element={name}
  data-uuid={uuid}
  draggable={draggable}
>
  <span class="text-2xl">{emoji}</span>
  <span class="capitalize">{name}</span>
</div>
